.container-fluid-covoit {
  background: url('../assets/background_home_flou.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrage vertical */
  align-items: center; /* Centrage horizontal */
  text-align: center;
}

.main-content-covoit {
  margin-top: 300px;
}

