.container-covoiturage {
  background: url('../assets/background_home_flou.jpg') no-repeat center top fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.transparent-rectangle {
  background-color: rgba(255, 255, 255, 0.3);
  width: 800px; /* Largeur du rectangle transparent */
  height: 700px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.transparent-rectangle h2 {
  margin-bottom: 20px; /* Marge inférieure pour le titre */
}

.search-bar-covoiturage {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
}
