@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow: hidden; 
  
}
.container-fluid {
  background: url('../assets/background_home_4.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main-content {
  text-align: center;
  padding-top: 10vh; 
}

.title_appli {
  font-size: 50px;
  color: #ffffff; 
}

.description_appli {
  font-size: 14px;
  color: #ffffff; 
}

.bottom-title {
  font-size: 60px; /* Taille de police */
  color: #ffffff; /* Couleur du texte */
  position: absolute; /* Position absolue pour le placer en bas */
  bottom: 10px; /* Distance depuis le bas de la page */
  left: 50%; /* Centre horizontalement */
  transform: translateX(-50%); /* Pour centrer horizontalement */
}

/* Styles pour la fumée ici */
.smoke {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10px;
  right: 690px;
  background: url('../assets/1525580_4263d.gif') no-repeat center center fixed;
  background-size: auto; 
  opacity: 0.2; /* Commencez avec une opacité faible */
  z-index: 0; 
  animation: smokeAnimation 5s ease-in-out infinite; 
  filter: brightness(500%); /* Augmentez la luminosité */
}

/* Animation de la fumée */
@keyframes smokeAnimation {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  70% {
    transform: scale(1.2);
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
  0% {
    opacity: 1; 
  }
  100% {
    opacity: 0.2; 
  }
}










