@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow: hidden; 
  
}
.container-fluid {
  background: url('../assets/background_home_4.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main-content {
  text-align: center;
  padding-top: 10vh; 
}

.title_appli {
  font-size: 36px;
  color: #ffffff; 
}

.description_appli {
  font-size: 14px;
  color: #ffffff; 
}



