@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow: hidden; 
 

  
}
.container-fluid {
  background: url('../assets/background_home_4.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main-content {
  text-align: center;
  padding-top: 10vh; 
}

.title_appli {
  font-size: 50px;
  color: #ffffff; 
}

.description_appli {
  font-size: 14px;
  color: #ffffff; 
}

.bottom-title {
  font-size: 60px; 
  color: #ffffff; 
  position: absolute; 
  bottom: 10px; 
  left: 50%; 
  transform: translateX(-50%); 
}

/* Styles pour la fumée ici */

.smoke {
  position: absolute;
  top: 440px;
  left: 30px;
  width: 15%;
  height: 15%;
  object-fit: cover;
  background-size: auto;
  opacity: 1; /* Réglez l'opacité de la fumée selon vos préférences */
  z-index: 0;
  pointer-events: none;
  filter: brightness(300%);
  animation: smokeAnimation 5s ease-in-out infinite;
}

@keyframes smokeAnimation {
  0% {
    opacity: 0.7; /* Commencez avec une opacité un peu plus basse */
  }
  100% {
    opacity: 0.7; /* Terminez avec la même opacité */
  }
}












