
#bar_search_icone {
  background-color: #2d2d46;
  border-radius: 50%; 
  margin-bottom: 800px;
  z-index: 1;
}

.title_bar_search {
  margin-bottom: 10px;
}

.rounded {
  border-radius: 15px;
}

.bg-dark {
  background-color: #ff0000;
}

.text-light {
  color: #ffffff;
}

.title-container {
  margin-left: -25px; 
  margin-top: -40px; 
  font-size: 12px; 
}

.title-container.arrival { 
  margin-left: -100px;
  margin-top: -40px;
  font-size: 12px;
}

.title-container.date { 
  margin-left: -100px; 
  margin-top: -40px; 
  font-size: 12px;
}

.custom-button.btn {
  width: 100px; 
  height: 50px; 
  padding: 5px 10px;
  font-size: 14px;
  margin-bottom:40px;
}