.sign-in-page {
  background-image: url('../assets/Fond_login_in.png'); 
  background-size: cover;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.sign-in-container {
  background-color: #ffffff; 
  border-radius: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px; 
  height: 500px; 
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); 
  padding: 20px; 
}
  
h2 {
  color: #333; 
  font-size: 45px;
}

h4 {
  color: #E48700;
  font-size: 15px;
}

.no-account {
  font-size: 14px ;
  margin-top: 10px;
}
.sign-up-link {
  font-size: 14px;
  font-weight: bold;
}

/* Styles pour les inputs et le bouton */
input[type="text"],
input[type="password"],
input[type="email"],
button {
  margin: 10px 0; 
  padding: 10px; 
  width: 100%; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  outline: none; 
}

/* Style pour le bouton */
button {
  background-color: #E48700;
  color: #fff;
  cursor: pointer; 
  display: inline-block;
}

/* Styles pour les labels */
label {
  font-size: 12px;
  margin-top: 10px;
  color:#E48700;
}

input::placeholder {
  font-size: 12px; 
  color: #999; 
}