.sign-in-page {
  background-image: url('../assets/Fond_login.png'); 
  background-size: cover;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
  
  .sign-in-container {
    background-color: #ffffff; 
    border-radius: 20px; 
    display: flex;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); 
  }
  
  h2 {
    color: #333; 
  }