.sign-up-page {
    background-image: url('../assets/Fond_login_up.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .sign-up-container {
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 800px; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-right: 120px; 
  }
  
  h2 {
    color: #333;
    font-size: 45px;
  }
  
  h4 {
    color: #E48700;
    font-size: 15px;
  }
  
  .no-account {
    font-size: 14px;
    margin-top: 10px;
  }
  
  /* Style pour le lien "Sign in" non visité */
.sign-in-link {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

/* Style pour le lien "Sign in" visité */
.sign-in-link:visited {
  color: #000000;
  font-weight: bold;
}


.sign-in-link:focus,
.sign-in-link:hover {
  color: #E48700;
  text-decoration: underline; 
}
  /* Styles pour les inputs et le bouton */
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }

  /* Style pour le bouton */
  button {
    background-color: #E48700;
    color: #fff;
    cursor: pointer;
    display: inline-block;
  }
  
  /* Styles pour les labels */
  label {
    font-size: 12px;
    margin-top: 10px;
    color: #E48700;
  }
  
  input::placeholder {
    font-size: 12px;
    color: #999;
  }

.checkbox {
  margin-left: 100px; 
}
